:root {
  /* 主题色 */
  --c-transparent: transparent;
  --c-theme-1: #bed5f9;
  --c-theme: #4f90e6;
  --c-theme-2: #3058b6;

  /* 灰度色阶 */
  --c-0: #ffffff;
  --c-10: #f6f8fa;
  --c-20: #f3f4f6;
  --c-25: #e5e7eb;
  --c-30: #e5e7eb;
  --c-40: #d1d5db;
  --c-50: #9ca3af;
  --c-60: #6b7280;
  --c-70: #4b5563;
  --c-80: #374151;
  --c-90: #1f2937;
  --c-100: #111827;

  /* 文本和背景 */
  --c-text: #444444;
  --c-bg-code: #eef0ef;
  --c-code-line-number: #bbb;

  /* 滚动条 */
  --c-scrollbar: #d9d9d9;
  --c-scrollbar-hover: #bbbbbb;

  /* 边框和分割线 */
  --c-border: #d1d7dd;
  --c-sep: #e1e4e8;
  --c-sep-2: #d1d4d8;

  /* 其他 */
  --c-code-language: #9ca3af;
  --h-header: 48px;

  /* 代码高亮颜色 - 浅色主题 */
  --highlight-keyword: #1c6b48;
  --highlight-background: #eef0ef;
  --highlight-comment: #a0ada0;
  --highlight-foreground: #393a34;
  --highlight-string: #b56959;
  --highlight-gutter: #565154;
  --highlight-class: #2993a3;
  --highlight-function: #6c7834;
  --prism-builtin: #ab5959;
  --prism-property: #b58451;
  --prism-decorator: #bd8f8f;
}

/* 暗色主题 */
html.dark {
  --c-theme-1: #204679;
  --c-theme: #5393d2;
  --c-theme-2: #415876;
  --c-0: #181818;
  --c-10: #1f1f1f;
  --c-20: #282828;
  --c-25: #2e2e2e;
  --c-30: #404244;
  --c-40: #5e606b;
  --c-50: #7d7e80;
  --c-60: #909495;
  --c-70: #bbbebf;
  --c-80: #d9d9d9;
  --c-90: #e1e4e8;
  --c-100: #e7edf2;
  --c-text: #eeeeee;
  --c-bg-code: #111111;
  --c-scrollbar: #333333;
  --c-scrollbar-hover: #555555;
  --c-border: #31363c;
  --c-sep: #3f4339;
  --c-sep-2: #818488;
  --c-code-language: #8c939f;

  /* 代码高亮颜色 - 深色主题 */
  --highlight-keyword: #4d9375;
  --highlight-background: #111111;
  --highlight-comment: #758575;
  --highlight-foreground: #d4cfbf;
  --highlight-string: #d48372;
  --highlight-gutter: #869194;
  --highlight-class: #54b1bf;
  --highlight-function: #a1b567;
  --prism-builtin: #858585;
  --prism-property: #dd8e6e;
  --prism-decorator: #bd8f8f;
}
