// 自定义提示容器样式（提示、成功、警告、危险），可自行修改相关样式
.tips {
    padding-left: 10px;
    background-color: rgb(186, 226, 252);
    border-left: 4px solid rgb(52, 152, 219);
    color: darken(rgb(52, 152, 219), 40%);
}
.success {
    padding-left: 10px;
    background-color: rgb(202, 255, 231);
    border-left: 4px solid rgb(66, 185, 131);
    color: darken(rgb(66, 185, 131), 40%);
}
.warning {
    padding-left: 10px;
    background-color: rgb(255, 247, 208);
    border-left: 4px solid rgb(231, 192, 0);
    color: darken(rgb(231, 192, 0), 40%);
}
.danger {
    padding-left: 10px;
    background-color: rgb(255, 230, 230);
    border-left: 4px solid rgb(204, 0, 0);
    color: darken(rgb(204, 0, 0), 40%);
}
